.dashb-icon{
    color:#d34141 !important;
    transition: color 0.3s ease !important;
}
.dash_card {
    background-color: #fff2d0 !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease !important;
  }
  
  .dash_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }