.nav_bar{
    background-color: #d34141!important;

}
.haed{
    font-size:25px !important;
font-family: nunito;
color: #fff !important;
}
.icon-shield{
color: #F6c240!important;
font-size: larger !important;
}
  
  .icon-shield {
  margin-right: 90px !important;
background-color: #F6c240 !important;
color:#d34141 !important;
border-radius: 50%;
padding: 7px ;
cursor: pointer;
  }
  
  .navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
  }
  
  .admin-info {
    display: flex;
    align-items: center;
    position: relative;
  }
  .nav-button1{
    background-color: #e8b022 !important;
    color:#fff !important;
text-transform: capitalize !important;
width:90px !important;
height:30px !important;
margin-left: 6px !important;

  }
  .nav-button2{
    background-color: #d34141 !important;
    color:#fff !important;
text-transform: capitalize !important;
width:159px !important;
height:30px !important;

  }
  .image-adm{
    width: 70px !important;
    height:70px !important;

  }
  .new-icon{
    position: relative;
    right:90px !important;
    color: #F6c240 !important;
  
  }

  @media (min-width: 992px) {
    .search{
     width: 260px !important; 
    }
  }