.signup-bgg {
    background-image: url('../Login/bg9.jpg'); /* Update the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-container{
    background-color: rgb(255, 248, 235) !important;
  }   